<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: antiquewhite;"><!--&nbsp;(1칸)&ensp;(두칸)&emsp;(세칸) -->
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<h3 style="font-size: xx-large; margin-left: 575px;">{{c.facilityName}} 상세정보</h3>
예방 접종 센터 고유 식별자  {{c.id}}<br/>
예방 접종 센터 명  {{c.centerName}}<br/>
시도  {{c.sido}}<br/>
시군구  {{c.sigungu}}<br/>
시설명  {{c.facilityName}}<br/>
우편 번호  {{c.zipCode}}<br/>
주소  {{c.address}}<br/>
좌표(위도)  {{c.lat}}<br/>
좌표(경도)  {{c.lng}}<br/>
예방 접종 센터 유형  {{c.centerType}}<br/>
운영기관  {{c.org}}<br/>
사무실 전화번호  {{c.phoneNumber}}<br/>
createdAt  {{c.createdAt}}<br/>
updatedAt  {{c.updatedAt}}<br/>
</body>
</html>